@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Raleway');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
little,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* CSS Starts */

.hero {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.output {
    display: none;
}

.active:after {
    content: '_';
}

.prompt p {
    font-size: 4em;
    font-family: 'Raleway', sans-serif;
}

#about {
    display: flex;
    flex-direction: row;
}

#about-l {
    height: 25vh;
    width: 33vw;
    background:linear-gradient(to right, black , darkslategray);;
}

#about-r {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width: 67vw;
    font-family: "Raleway", sans-serif;
    font-size: 2.25em;
}

#about-r p {
    padding: 0 1.5vw;
}
.portfolio {
    padding: 7.5vh 0;
}

.flex-container {
    display: flex;
    flex-direction: column;
    margin: 2.5vh 0;
}

.project {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2.5vh;
}

.odd {
    flex-direction: row-reverse;
}

.thumbnail,
.description {
    display: flex;
    height: 50vh;
    width: 45vw;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 0 2.5vw;
    border: 5px solid darkslategray;
}

.thumbnail {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}


.thumbnail:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}


.description {
    background-color: ghostwhite;
    text-transform: uppercase;
    font-size: 1.5em;

}

.description p {
    font-family: "Raleway", sans-serif;
    width: 25vw;
}

.created {
    font-weight: 600;
    text-decoration: underline;
}

.description ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Raleway", sans-serif;
    color: darkslategray;
    font-weight: 100;
}

.description li {
    margin: 2.5px auto;
}

.thumbnail img {
    object-fit: cover;
    margin: 0 2.5vw;
    height: 50vh;
    width: 45vw;

}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25vh;
    border-top: 5px solid darkslategray;
}


footer p {
    margin: 2.5vh 0;
    padding: 7.5vh 0;
    font-size: 2.5em;
    font-family: "Raleway", sans-serif;
    
}

footer ul {
    display: flex;
    width: 30vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 5vh;

}

#copy {
    font-size: 1.25em;
}

.icon {
    font-size: 4em;
    color: darkslategray;
    padding: 5px;
}

.icon a {
    color: darkslategray;
}

.icon a:hover {
    border-bottom: 5px solid darkslategray;

}

@media all and (max-width: 1000px) {

    .section {
        margin-bottom: 7.5vh;
    }
    #about {
        font-size: 5rem;
    }
}



@media all and (max-width: 800px) {

    .prompt p {
        font-size: 2.5em;
    }

    #ko-bigger {
        font-size: 5em;
    }

    #about
    {
        font-size: 1em;
    }
    
    #about-l {
        display: none;
    }
    
    #about-r {
        padding: 7.5vh 0;
        border: 2.5px darkslategray;
    }

    .project {
        flex-direction: column-reverse;
        margin: 0;
    }



    .description {
        width: 80vw;
        margin: 2.5vh 2.5vw;
        font-size: 1.25em
    }

    .description p {
        width: 75vw;
    }

    .thumbnail {
        width: 80vw;
        margin: 2.5vh 2.5vw;
    }

    .thumbnail img {
        width: 80vw;
    }

    footer ul {
        width: 80vw;
    }

    .icon {
        font-size: 2em;
    }

    /*form, #info, textarea {
        width: 85vw;
    }
    
    #submit {
        width: 42.5vw;
    }*/
}

@media all and (max-width: 500px) {
    #about {
        font-size: .75em;
    }
}
